.form-color{
  background-color: rgb(230, 235, 235);
}
.my-margin{
  margin-top: 0.20%;
}

.my-margin-from-form{
  margin-bottom: 1%;
}


.contact {
  width: 35%;
  height: 35%;
}

.my-color{
  background-color: rgb(250, 253, 255);
}

.my-pd{
  padding: 1%;
}